* {
  box-sizing: border-box;
}

body {
  font-family: tahoma;
  margin: 0;
}

h1 {
  font-size: 1.8em;
  font-weight: bold;
}

h2 {
  font-size: 1.6em; 
}

h3 {
  font-size: 1.4em; 
  font-weight: normal;
}

h4 {
  font-size: 1.2em;
  font-weight: normal;
}

h5 {
  font-size: 1.1em;
  font-weight: normal;
}

/* Style the top navigation bar */
.navbar {
  display: flex;
  background-color: #333;
}

/* Style the navigation bar links */
.navbar a {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

/* Change color on hover */
.navbar a:hover {
  background-color: #ddd;
  color: black;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.side {
  flex: 18%;
  padding: 20px;
  background-color: lightblue;
  border-radius: 15px;
  box-shadow: 5px 5px 12px black;   
}

.main {
  flex:78%;
  padding: 20px;
  background-color: whitesmoke;
  border-radius: 15px;
  box-shadow: 5px 5px 12px black; 
}

.header {
  padding:  60px;
  border-radius: 15px;
  margin-bottom: 5px;
  background-color: darkslategrey;
  box-shadow: 5px 5px 12px black;
}

.header > h1 {
  text-align: center;
  font-size: 2em;
  color: white;
}



@media screen and (max-width: 700px) {
  .flex-container {
    flex-direction: column;
  }
}